<header class="splash-header">
  <div class="splash-header-content">
    <i class="fa fa-camera-retro" id="logo-camera"></i>
    <i id="logo-script">SelFeed</i>
  </div>
</header>

<div class="splash-background-container">
  <img src="<%= asset_url("splash_bg.jpg")%> ">
</div>

<div class="splash-body">
  <div class="splash-body-content">
    <h1 class="splash-body-content-header">Welcome to SelFeed.</h1>
    <p class="splash-body-content-description">
      Share pictures of yourself desperately in search of validation from
      strangers across the world. Apply endless filters on strategically angled
      selfies to advertise the real you. Tirelessly craft your own personal brand
      then realize that Ariana Grande has 25 million more followers than you.</p>
  </div>
  <div class="splash-body-forms">
    <form class="splash-form-log-in" action="<%= session_url %>" method="post">
      <%= include_form_auth_token %>
      <input class="splash-form-input username"
        id="splash-form-log-in-username"
        type="text"
        name="user[username]"
        value="Username">
      </input>
      <input class="splash-form-input password"
        id="splash-form-log-in-password"
        type="text"
        name="user[password]"
        value="Password">
      </input>
      <input type="submit" class="hidden-submit"></input>
      <a href="" class="submit-button" id="splash-log-in-button">Log in</a>
    </form>

    <form class="splash-form-new-user" action="<%= users_url %>" method="post">
      <%= include_form_auth_token %>
      <h1 class="new-user-form-header">
        <span class="new-user-form-header-bold">New to SelFeed?</span>
        <span class="new-user-form-header-plain">Sign up</span>
      </h1>
      <div class="new-user-form-divider"></div>
      <input class="splash-form-input username"
        id="splash-form-new-user-username"
        type="text"
        name="user[username]"
        value="Username">
      </input>
      <input class="splash-form-input display-name"
        id="splash-form-new-user-display-name"
        type="text"
        name="user[display_name]"
        value="Display name">
      </input>
      <input class="splash-form-input password"
        id="splash-form-new-user-password"
        type="text"
        name="user[password]"
        value="Password">
      </input>
      <input type="submit" class="hidden-submit"></input>
      <a href="" class="submit-button" id="splash-sign-up-button">Sign up for SelFeed</a>
    </form>
  </div>
</div>

<script>
$("#splash-log-in-button").on("click", function (event) {
  event.preventDefault();
  var $form = $(".splash-form-log-in");
  var username = $form.find("#splash-form-log-in-username").val();
  var password = $form.find("#splash-form-log-in-password").val();

  if (username === "Username") {
    $form.find("#splash-form-log-in-username").val("");
  }
  if (password === "Password") {
    $form.find("#splash-form-log-in-password").val("");
  }
  debugger;
  $(".splash-form-log-in").submit();
});

$("#splash-sign-up-button").on("click", function (event) {
  event.preventDefault();
  var $form = $(".splash-form-new-user");
  var username = $form.find("#splash-form-new-user-username").val();
  var displayName = $form.find("#splash-form-new-user-display-name").val();
  var password = $form.find("#splash-form-new-user-password").val();

  if (username === "Username") {
    $form.find("#splash-form-new-user-username").val("");
  }
  if (displayName === "Display name") {
    $form.find("#splash-form-new-user-display-name").val("");
  }
  if (password === "Password") {
    $form.find("#splash-form-new-user-password").val("");
  }
  debugger;
  $(".splash-form-new-user").submit();
});

$(".splash-form-input.username").on("focus", function (event) {
  $target = $(event.target);
  if ($target.val() === "Username") {
    $target.val("");
  }
});

$(".splash-form-input.username").on("blur", function (event) {
  $target = $(event.target);
  if ($target.val() === "") {
    $target.val("Username");
  }
});

$(".splash-form-input.password").on("focus", function (event) {
  $target = $(event.target);
  $target.attr("type", "password");
  if ($target.val() === "Password") {
    $target.val("");
  }
});

$(".splash-form-input.password").on("blur", function (event) {
  $target = $(event.target);
  if ($target.val() === "") {
    $target.val("Password");
    $target.attr("type", "text");
  }
});

$(".splash-form-input.display-name").on("focus", function (event) {
  $target = $(event.target);
  if ($target.val() === "Display name") {
    $target.val("");
  }
});

$(".splash-form-input.display-name").on("blur", function (event) {
  $target = $(event.target);
  if ($target.val() === "") {
    $target.val("Display name");
  }
});
</script>
