<header class="splash-header">
  <div class="splash-header-content">
    <i class="fa fa-camera-retro" id="logo-camera"></i>
    <i id="logo-script">SelFeed</i>
  </div>
</header>

<div class="splash-background-container">
  <img src="<%= asset_url("splash_bg.jpg")%> ">
</div>

<div class="splash-body">
  <div class="splash-body-content">
    <h1 class="splash-body-content-header">Welcome to SelFeed.</h1>
    <p class="splash-body-content-description">
      Share your pictures with people across the world. Apply one of many
      filters to give your moment a new look. Turn your life into a storybook.</p>
    <form class="splash-form-guest-log-in" action="<%= session_url %>" method="post">
      <%= include_form_auth_token %>
      <input
        type="hidden"
        name="user[username]"
        value="shutterbug">
      </input>
      <input
        type="hidden"
        name="user[password]"
        value="password">
      </input>
      <input type="submit" class="hidden-submit"></input>
      <a href="" class="submit-button" id="splash-guest-log-in-button">Take a tour</a>
    </form>
  </div>
  <div class="splash-body-forms">
    <form class="splash-form-log-in" action="<%= session_url %>" method="post">
      <%= include_form_auth_token %>
      <input class="splash-form-input username"
        id="splash-form-log-in-username"
        type="text"
        name="user[username]"
        placeholder="Username">
      </input>
      <input class="splash-form-input password"
        id="splash-form-log-in-password"
        type="password"
        name="user[password]"
        placeholder="Password">
      </input>
      <input type="submit" class="hidden-submit"></input>
      <a href="" class="submit-button" id="splash-log-in-button">Log in</a>
    </form>

    <form class="splash-form-new-user" action="<%= users_url %>" method="post">
      <%= include_form_auth_token %>
      <h1 class="new-user-form-header">
        <span class="new-user-form-header-bold">New to SelFeed?</span>
        <span class="new-user-form-header-plain">Sign up</span>
      </h1>
      <div class="new-user-form-divider"></div>
      <input class="splash-form-input username"
        id="splash-form-new-user-username"
        type="text"
        name="user[username]"
        placeholder="Username">
      </input>
      <input class="splash-form-input display-name"
        id="splash-form-new-user-display-name"
        type="text"
        name="user[display_name]"
        placeholder="Display name">
      </input>
      <input class="splash-form-input password"
        id="splash-form-new-user-password"
        type="password"
        name="user[password]"
        placeholder="Password">
      </input>
      <input type="submit" class="hidden-submit"></input>
      <a href="" class="submit-button" id="splash-sign-up-button">Sign up for SelFeed</a>
    </form>
  </div>
</div>

<script>
$("#splash-guest-log-in-button").on("click", function (event) {
  event.preventDefault();
  $(".splash-form-guest-log-in").submit();
});

$("#splash-log-in-button").on("click", function (event) {
  event.preventDefault();
  $(".splash-form-log-in").submit();
});

$("#splash-sign-up-button").on("click", function (event) {
  event.preventDefault();
  $(".splash-form-new-user").submit();
});
</script>
