<div class="modal-screen">
    <i class="fa fa-times" id="close-picture-button"></i>
</div>

<div class="modal-picture-container">
  <img class="picture-show-picture" data-filter="<%= picture.escape("filter") %>" src="<%= picture.escape("url") %>">

  <div class="picture-show-sidebar-container">
  
    <div class="picture-show-details-container">
      <img class="picture-show-details-avatar" src="<%= picture.escape("author_avatar_url") %>">
      <div class="picture-show-details-user-details">
        <a href="#" class="author-link" id="picture-show-details-author-link"><%= picture.escape("author_username") %></a>
        <span class="picture-show-details-created-at"><%= moment(picture.escape("created_at")).fromNow() %></span>
        <p class="text"><%= picture.escape("caption") %></p>
      </div>
    </div>

    <div class="picture-show-likes-container"></div>

    <div class="picture-show-comments-container"></div>

  </div>
</div>
