<div class="picture-details-container">
  <a class="author-link" href="#"><%= picture.escape("author_username") %></a>
  <span class="picture-details-created-at"><%= moment(picture.escape("created_at")).fromNow() %></span>
</div>

<img class="picture-show-picture" src="<%= picture.escape("url") %>">

<div class="picture-likes-container"></div>

<div class="picture-caption-container">
  <p><a class="author-link caption-author-link" href="#"><%= picture.escape("author_username")%></a> <%= picture.escape("caption") %>
  </p>
</div>
<div class="picture-comments-container"></div>
